@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-amisha: #431671;
  --color-footer : #200334;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-imgtext:white;
}
/* background:var(--gradient-text);
    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent; */


body{
  background-repeat:none;
  min-height: 97.5vh;
  background: radial-gradient(circle at 3% 25%, #474545 0, #0a0a0a 25%);
}
